/*
 *
 * OwntracksFriends
 *
 * Cosmin
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.ot-location-label {
    padding-left: 15px;
}

.ot-timestamp-label {
    padding-left: 15px;
}

.ot-friend-label {
    text-transform: capitalize;
}

.ot-friend-label img {
    margin: 0 10px;
}
